.top-header{
  padding: 12px;
  width: 90%;
  margin: auto;
  max-width: 450px;
  background: #fff;
  border-bottom: 1px solid #36C;
}

.page-title {
  font-size: 28px;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  color: #36C;
}

.top-header > div {
  width: 100%;
}