*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cera, Helvetica, sans-serif;
}

*:focus{
  outline: none;
}

.App {
  /* text-align: center; */
}

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: all 1s linear;
}

.overlay.black {
  background: #464646bd;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay.open{
  height: 0;
}

.overlay > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3F51B5;
  text-align: center;
  padding: 12px;
  font-size: 32px;
  height: 100%;
  text-shadow: 0px 0px 2px #03A9F4;
}

.overlay.open > div {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: center;
  padding: 16px 20px 12px 20px;
  font-size: 24px;
  color: #36C;
  border-bottom: 1px solid #afcaff;
}

.modal-content {
  padding: 4px 20px;
  font-size: 15px;
  margin-bottom: 12px;
}

.alert-box{
  position: absolute;
  z-index: 2;
  width: 80%;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 6px #404040;
  border-radius: 4px;
  /* margin: auto; */
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  max-width: 400px;
}

.close-modal {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
}
.close-modal:hover{
  font-weight: 600;
}